name: Elementary Test

on:
  workflow_dispatch:
    inputs:
      title:
        description: 'Title'
        required: true
      name: 
        description: 'Name'
        required: true
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Python Version
        run: python --version

      - name: Hello World
        run: python helloworld.py

      - name: Processing Inputs
        env:
          TITLE: ${{ inputs.title }}
          NAME: ${{ inputs.name }}
        run: |
          echo "The workflow $TITLE was triggered by $NAME"
      
